body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background:  #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}



h1 {
    /* border: 2px solid black; */
    text-align: left;
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 25px;
    padding: 0 0 0 10px;
}



.card {
    border: 2px solid lightgrey;
    width: 20%;
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}
.avatar {
    /* border: 1px solid red; */
    border-radius: 60%;
    width: 110px;
    height: 115px;
    margin-top: 19px;
    margin-left: 20px;
}
.text-container {
    width: auto;
    padding: 0 0 0 20px;
}
.name {
    /* border: 1px solid blue; */
    font-family: "Source Sans 3", serif;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 0;
}
.email {
    /* border: 1px solid grey; */
    font-family: "Source Sans 3", serif;
    font-weight: 200;
    margin-bottom: 0;
}
.address {
    /* border: 1px solid orange; */
    font-family: "Source Sans 3", serif;
    font-weight: 200;
    font-size: 18px;
}